<!-- @shortcuter4 -->
<!-- It extends base.html file and add the specific data into specific place -->
{% extends "homepage/base.html" %}
{% block content %}
	<!-- @shortcuter4 -->
	<!-- It prints the posts' titles, author, post date and content -->
	{% for post in posts %}
		<!-- <h1>{{ post.title }}</h1>
		<p> By {{ post.author }} on {{ post.date_posted }}</p>
		<p>{{ post.content }}</h1> -->
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>	

	{% endfor %}
{% endblock content %}